# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/
python-programming.iml
venv/
test/career_growth/
*__pycache__*
vflask
India.png
Nagpur.png
build
dist
twitter.egg-info
*.pyc
.DS_store
test/database/twitter_trends
twitter/data/database/test.db
twitter/data/database/twitter_trends
twitter/password.ini
