<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
    this.classList.toggle("active");

    /* Toggle between hiding and showing the active panel */
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
<h3>Visualize by countries</h3>
<div class="dropdown">
<ol id="sss" type="1">
    {% for parent_model,children in locations_by_parent.items() %}
    <li>
        <button type="button" onclick="myFunction()" class="button1" data-toggle="collapse" data-target="#{{parent_model.get_woeid}}">
            <a target="_blank" rel="noopener noreferrer" style="text-decoration : none"
               href="{{url_for('chart.images',location=parent_model.get_woeid)}}">{{parent_model.name_with_flag}}:{{children| count}}</a>
        </button>
        <div id="{{parent_model.get_woeid}}" class="collapse">
            <ul>
                {% for child in children %}
                <li>

                    <button type="button" class="button2">
                        <div class="button2">
                    <a target="_blank" rel="noopener noreferrer"
                       href="{{url_for('chart.images',location=child.get_woeid)}}">{{child.get_name}}</a>
                        </div>
                    </button>

                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ol>
</div>