<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<h3>Visualize by countries</h3>
<ol id="sss" type="1">
    {% for parent_model,children in locations_by_parent.items() %}
    <li>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#{{parent_model.get_woeid}}">
            <a target="_blank" rel="noopener noreferrer"
               href="{{url_for('chart.images',location=parent_model.get_woeid)}}">{{parent_model.get_name}}:{{children| count}}</a>
        </button>
        <div id="{{parent_model.get_woeid}}" class="collapse">
            <ul>
                {% for child in children %}
                <li>
                    <a target="_blank" rel="noopener noreferrer"
                       href="{{url_for('chart.images',location=child.get_woeid)}}">{{child.get_name}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ol>