<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Twitter Trends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h3>Visualize by countries</h3>
<ol id="sss" type="1">
    {% for parent_model,children in locations_by_parent.items() %}
    <li>
        <a target="_blank" rel="noopener noreferrer"
           href="{{url_for('images',location=parent_model.get_woeid)}}">{{parent_model.get_name}}</a>
        <ul>
            {% for child in children %}
            <li>
                <a target="_blank" rel="noopener noreferrer"
                   href="{{url_for('images',location=child.get_woeid)}}">{{child.get_name}}</a>
            </li>

            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ol>
</ol>
<h3> Sample Trend </h3>
<p> {{message}} </p>
{% endblock %}


</body>
</html>