<!DOCTYPE html>
<html lang="en" dir="ltr">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>Twitter Trends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<h3>Visualize</h3>
<ol type="1">
    {% for key,value in map.items() %}
    <div id={{key}}>
        <li class="list-item">
            <a class=list-item-link target="_blank" rel="noopener noreferrer"
               href="{{url_for('images',location=key)}}">{{value}}</a>
        </li>
    </div>
    {% endfor %}
</ol>
<h3> Sample Trend </h3>
<p> {{message}} </p>
{% endblock %}


</body>
</html>